<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>CoffeeLover Coffee Bar</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        &nbsp;
        <a href="/menu">Menu</a>
        &nbsp;
        <a href="/music">Music</a>
        &nbsp;
        <a href="/jobs">Jobs</a>
        &nbsp;
        <a href="/users/sign_up">Sign up</a>
        &nbsp;
        <%= link_to "Sign in", user_session_path %>
        &nbsp;
        <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      Copyright &copy; 2024 CoffeeLover Coffee Bar<br>
      <a href="mailto:bersennaidoo@coffeelover.com">bersennaidoo@coffeelover.com</a>
    </footer>
  </body>
</html>
